dump.rdb
lib-cov
*.log
*.csv
*.out
*.pid
pids
logs
results
node_modules
npm-debug.log
.idea
.DS_Store
log/*.log
.c9revisions
coverage.html
.settings
#docs/build/*
db/sqlite/*
packages/eflow/opt
packages/eflow-decortic/opt
packages/eflow-samples/opt
packages/nodejs/usr
packages/mysql*
packages/build/*
packages/resources/*
migrations/.migrate
public/samples
public/**/cache_*

# MySql
config/database/mysql.yml
